.navbar-wrap > .container {
  padding-top: 50px;
}

.navbar {
  width: 75%;
}

.panel {
  width: 75%;
  margin: 0 auto;
  margin-top: 50px;
  opacity: 0;
  display: none;
}

.visible {
  display: block;
}

.tooltip-inner {
  text-align: left;
}

.save-notify {
  padding-right: 20px;
  display: none;
}

.save-settings {
  float: right;
  clear: none;
  padding-top: 20px;
}

.setting-wrapper {
  margin-bottom: 25px;
  display: table;
  width: 100%;
}

.setting-wrapper > div:first-child + div {
  text-align: center;
}

.setting-text {
  width: 40%;
  display: table-cell;
  vertical-align: middle;
  font-size: 15px;
}

.setting-options {
  display: table-cell;
  vertical-align: middle;
}

#default-volume {
  width: 50px;
}