.purple-custom-panel {
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
  border-color: #4B0082;
}

.purple-custom-panel > .custom-panel-header {
  background-image: none;
  background-color: #4B0082;
  color: white;
  border-color: #4B0082;
}

.custom-nav-header {
  width: 110px;
  text-align: center;
}

/* nav-pills customizations */

.nav > li > a {
  color: #4B0082;
  background-color: #E6E6FA;
}

.nav > li > a:hover {
  color: white;
  background-color: #9370DB;
}

.nav > li.active > a, .nav > li.active > a:hover, .nav > li.active > a:focus {
  background-color: #4B0082;
}

/* Tab content */

.panel-body {
  width: 95%;
  margin: 0 auto;
}

.alert {
  margin-top: 15px;
}

/* Individual setting items */

.setting-wrap {
  display: table;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.setting-left {
  width: 60%;
  display: table-cell;
  vertical-align: middle;
  font-size: 15px;
}

.setting-right {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

/* Save and reload buttons */

.btn-wrap {
  text-align: right;
}

.options-btn {
  float: left;
}